<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Sistema Administrativo Condominio</h1>
      <p class="lead">Sistema de Administración de Condominio
ISAC, Sistema de Administracion de Condominio con envío de recibos de condominio mediante Email</p>
    </div>
  </header>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
		  <ul>

            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
    <div class="container">
     	<div class="row py-5">

			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="far fa-envelope-open-dollar fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Instagram</h4>
						</div>

						<div class="text">
							<span>Ahorro garantizado en la hora de envío de los Recibos de Condominio o Avisos de Cobro.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

					    <i class="fas fa-building fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Condominio</h4>
						</div>

						<div class="text">
							<span>Reducción de tiempo en la gestión de sus comunicaciones</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Facebook</h4>
						</div>

						<div class="text">
							<span>Se crea perfiles de Administradora y de Propietarios</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Pinterest</h4>
						</div>

						<div class="text">
							<span> El propietario, ve su información, ve la cartelera, agrega los pagos, y ve sus recibos de condominio</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

					    <i class="fas fa-ruble-sign fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Money</h4>
						</div>

						<div class="text">
							<span>Realizarse en tan sólo unos minutos, desde cualquier parte del mundo</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Github</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

		</div>
    </div>
</div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Sistema de Administración de Condominio</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
